body{
    background-color: #666666;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}
#zone_joystick{
    background-color: #000000;
    border: 1px solid #ffffff;
    height: 100vh;
    width: 50vw;
    position:relative;
}
.back{
    background-color: #003cff;
    color:#003cff;
    border: 1px solid #ffffff;
}
.front{
    background-color: #ffffff;
    color:#ffffff;
    border: 1px solid #ffffff;
}
/*Here to make sure that the input buttons don't get displayed before going fullscreen*/
/* .Inputs{
    display: none;
    visibility: hidden;
} */
/* .Inputs:not(:fullscreen) {
    display: none; 
    visibility: hidden;
} */
.Inputs{
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    height: 100vh;
    width: 100vw;
    background-color: antiquewhite;
    visibility: visible;

    position:fixed;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    z-index: 100;
    overflow:hidden;
    touch-action: pan-y;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
}

.hide{
    display: none;
    visibility: hidden;
}



.ButtonContainer{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    height: 100%;
    width: 50%;
}

.AttackButton{
    display: fit-content;
    /* align-self: center; */
    /* justify-self: center; */
    height: 30%;
    width: 30%;
    margin-right: 7%;
}

#attack img{
    height: 100%;
    width: 100%;
}

.JumpButton{
    display: fit-content;
    align-self: center;
    /* justify-self: center; */
    height: 30%;
    width: 30%;
    margin-bottom: 7%;
}

#jump img{
    height: 100%;
    width: 100%;
}

.Inputs button{
    /* background-color: #000000; */
    border: 0px;
    /* color: #ffffff; */
    background: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    height: 100%;
    width: 100%;
    margin: 5px;
    border-radius: 10px;
}

#fullscreen{
    background-color: #ef0000;
    border: 1px solid #ffffff;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    height: 20%;
    width: 20%;
    margin: 5px;
    padding: 0;
    border-radius: 10px;
    position: absolute;
    top: 0;
    right: 0;
    display: none;
    visibility: hidden; 
}

/* #character_select:not(:fullscreen){
    visibility: hidden;
    display: none;
} */

#character_select{
    position:fixed;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    z-index: 100;
    overflow:hidden;
    touch-action: pan-y;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: burlywood;
}

#char_select{
    background-color: #ef0000;
    border: 1px solid #ffffff;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    height: 20%;
    width: 20%;
    margin: 5px;
    padding: 0;
    border-radius: 10px;
    position: absolute;
    top: 150px;
    right: 0;
    background-color: rgba(11, 146, 188, 0.911);
    display: none;
    visibility: hidden; 
}
.ButtonHolder{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    /* background-image: url("/images/Background.png");
    background-size: 100%; */
    background-color: rgb(185, 238, 160);
}

.ButtonHolder #output{
    display: none;
    visibility: hidden; 
}

#main_menu_btn{
    /* background-color: #ef0000; */
    /* border: 1px solid #ffffff; */
    /* color: #ffffff; */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    height: 40%;
    width: 40%;
    /* margin: 5px; */
    padding: 0;
    border-radius: 10px;
    /* justify-self: center; */
    /* position: absolute; */
    /* top: 50%; */
    /* right: 50%; */
    /* display: none; */
    background: none;
    border: none;
    background-image: url("/images/Button\ .png");
    background-size: 100% 100%;
    font-size: 500%;
}

#main_menu:not(:fullscreen){
    visibility: hidden;
    display: none;
}

.exit{
    background-color: #ef0000;
    border: 1px solid #ffffff;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    height: 10%;
    width: 10%;
    margin: 5px;
    padding: 0;
    border-radius: 10px;
    position: absolute;
    top: 0;
    right: 10%;
    display:none;
    visibility: hidden;
}

.exit_char{
    background-color: #ef0000;
    border: 1px solid #ffffff;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    height: 10%;
    width: 10%;
    margin: 10px;
    padding: 0;
    border-radius: 10px;
    position: absolute;
    display: none;
    visibility: hidden;
}

.character_select button{
    /* background-color: #000000; */
    border: 0px;
    /* color: #ffffff; */
    background: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    height: 100%;
    width: 100%;
    margin: 5px;
    border-radius: 10px;
}

#left_arrow img{
    /* height: 50%; */
    width: 35%;
}

#right_arrow img{
    width: 35%;
}

#select_btn{
    background-image: url("/images/Player\ cards.png");
    background-size: 100% 100%;
    height: 100%;
    width: 100%;
    font-size: 20px;
}

.CharacterAll{
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.CharacterLeft{
    display: flex;
    flex-direction: column;
    height: 90%;
    width: 40%;
    align-items: center;
    justify-content: space-evenly;
}

#character_info{
    background-image: url("/images/Player\ cards.png");
    background-size: 100% 100%;
    height: 50%;
    width: 100%;
    font-size: 70px;
}

#character_info img{
    height: 100%;
    width: 100%;
}

.CharacterImage{
    display: flex;
    height: 90%;
    width: 40%;
    margin: 0% 1%;
}

.Selection{
    display: flex;
    flex-direction: row;
    height: 10%;
    width: 100%;
}

/* #left_arrow img{
    height: 10%;
    width: 10%;
} */

#character_card img{
    object-fit: contain;
}

#character_card img{
    width: 100%;
}

.MainMenuScreen{
    display: flex;
    height: 100%;
    width: 99%;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.MainBtn{
    height: 30%;
    width: 40%;
}

/* #quit_btn{
    height: 20%;
    width: 25%;
} */

